{% extends 'base.html' %}

{% block title %}{% if product %}Edit{% else %}Add{% endif %} Product {% endblock %}

{% block content %}
        <h1 class="text-center mb-4">{% if product %}Edit{% else %}Add{% endif %} Product </h1>

        <form method="post" class="card p-4 shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success mt-3 w-100">{% if product %}Save Changes{% else %}Add Product{% endif %}</button>

        </form>

        <br>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Back to Product List</a>


{% endblock %}